/bin/

# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Python Virtual environments
.venv/
venv/
open_cv_env/
opencv_env/
handler_venv/
tf_open_cv/

# Environment variables files
.env
*.env
.env.*
!.env.example
!.env.docker-compose.example
!.env.gitlab.example

# IntellIJ
.idea/

# VC code
.vscode/

# Databases
*.sqlite3

## Celery Beat ##
celerybeat-schedule

# log backup files
*.log.*

# application config files
conf/notifications.json
